@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
html, body {
  height: auto;
  width: 100%;
  margin: 0;
  font-family: "Space Mono", sans-serif;
}

.toggle {
  position: fixed;
  top: 40px;
  left: 40px;
  z-index: 2;
}
.toggle a {
  text-decoration: none;
  color: ivory;
  font-size: 24px;
  cursor: pointer;
}

.menu {
  margin: 0;
  padding: 0;
  position: fixed;
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background: rgba(10, 17, 26, 0.87);
  z-index: 1;
  transition: 0.5s;
  color: ivory;
}

ul {
  margin: 0;
  padding: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
ul li {
  list-style: none;
}
ul li a {
  padding: 10px;
  display: inline-block;
  font-family: "Space Mono", sans-serif;
  font-size: 2em;
  text-decoration: none;
  text-transform: lowercase;
  color: ivory;
}
ul li a:hover {
  background: #FFFC85;
}

.selected {
  font-weight: bold;
}

.menu.active {
  left: 0;
  overflow: auto;
}

.landing-container {
  background: url("https://streetart102.files.wordpress.com/2015/08/wp.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  align-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  color: ivory;
  text-shadow: 1px 2px 2px black;
}
.landing-container header {
  font-weight: bold;
  font-size: 3em;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.landing-container2 {
  background: url("https://streetart102.files.wordpress.com/2015/08/wp.jpg");
  background-size: cover;
  background-position: center center;
  background-attachment: fixed;
  display: grid;
  align-content: center;
  margin: auto;
  text-align: center;
  height: 100vh;
  color: ivory;
  text-shadow: 1px 2px 2px black;
}
.landing-container2 header {
  font-weight: bold;
  font-size: 3em;
  padding: 0 0 15px 0;
  margin: 0 0 15px 0;
}

.section-container {
  background: #16191C;
  display: grid;
  align-content: center;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  height: 65vh;
  color: ivory;
}

.section-container2 {
  background: #16191C;
  display: grid;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  height: 100%;
  color: ivory;
}

.flex-container {
  background: #16191c;
  height: 100%;
  padding: 0;
  text-align: center;
  margin: auto;
  color: ivory;
}
.flex-container h2 {
  text-align: center;
  padding: 2em auto;
  margin: 2em auto;
}
.flex-container .flex-row {
  width: 100%;
  padding: 0;
  margin: 0;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}
.flex-container .flex-row .flex-item {
  padding: 0;
  margin: 2em 0;
}

.flex-column {
  flex: 100%;
  max-width: 100%;
  display: flex;
  padding: 0;
  margin: 2em auto;
}

/*Responsive layout - 2 columns*/
@media screen and (max-width: 800px) {
  .flex-container {
    height: 100%;
  }

  .flex-column {
    flex: 48%;
    max-width: 50%;
    height: 100%;
  }

  .flex-item img {
    height: 400px;
    width: 400px;
  }
}
@media screen and (max-width: 600px) {
  .flex-container {
    height: 100%;
  }

  .flex-column {
    flex: 100%;
    max-width: 100%;
  }

  .flex-item img {
    height: 400px;
    width: 400px;
  }
}
.gallery-container {
  background: #16191C;
  height: 100%;
  color: ivory;
  display: flex;
  flex-wrap: wrap;
  padding: 0 4px;
}
.gallery-container img {
  margin-top: 8px;
  vertical-align: middle;
  width: 100%;
}

.gallery-column {
  flex: 23%;
  max-width: 25%;
  padding: 0 4px;
}

.gallery-img {
  width: 100%;
}

/*Responsive layout - 2 columns*/
@media screen and (max-width: 800px) {
  .gallery-column {
    flex: 48%;
    max-width: 50%;
    height: 100%;
  }
}
@media screen and (max-width: 600px) {
  .gallery-column {
    flex: 100%;
    max-width: 100%;
  }
}
#image {
  background: url("https://www.gannett-cdn.com/presto/2020/02/13/PNJM/21a186c4-5101-4196-a229-19ef8851d81b-021220_StreetArt_0208.JPG?width=2560");
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.footer-container {
  background: #16191C;
  display: grid;
  align-content: center;
  margin: auto;
  padding-left: 25px;
  padding-right: 25px;
  text-align: center;
  height: 15vh;
  color: ivory;
}
.footer-container span {
  padding-right: 15px;
}
.footer-container a {
  padding: 0 15px 0 15px;
}
.footer-container a:hover {
  background: #FFFC85;
}

/*# sourceMappingURL=style.css.map */
